[submodule "Assets/Librairies/GenUI"]
	path = Assets/Librairies/GenUI
	url = http://github.com/theoriz/genui
[submodule "Assets/Librairies/SharedTexture"]
	path = Assets/Librairies/SharedTexture
	url = https://github.com/theoriz/shared-texture-unity
